body {
    background-color: darkslategrey;
    font-family: 'quicksand' , sans-serif;
    color: white;
}

#head01 {
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
    margin: -8px;
}

main {
    padding: 20px;
}

a {
    color: cyan;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
a:hover {
    color: white;
    font-weight: bold;
}

h2 {
    color: cyan;
}

h3 {
    color: cyan;
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    margin: -8px;
}

.Profil {
    text-align: center;
}

nav {
    background-color: darkslategrey;
    padding: 5px;
    border-radius: 10px;
    width: max-content;
    margin-left: 425px
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

.gmb  {
    width: 100%;
    max-height: 500px;
    object-position: center;
    border-radius: 10px;
}

.card {
    box-shadow: 0px 0px 10px 3px #000000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.Upbt {
    text-align: right;
    padding-bottom: 20px;
}